@use "../abstracts/mixins";
@use "../abstracts/variables";

.main__title {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__input {
    border: 1px solid variables.$custom-grey;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    font-size: 1rem;
  }

  &__button {
    margin: 10px;
  }

  &__google-image {
    width: 10px;
  }
}

p{
  text-align: center;
  margin: 20px;
  
}